*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #e1e3e4, #f0f6f7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
}

.display{
    width: 100%;
    height: 20vh;
    background: white;
    color: black;
}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    border: none;
    padding: 1.6rem;
    font-size: 22px;
    background-color: rgb(139, 25, 139);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
}

.number {
    background-color: #052430;
}

.output{
    font-size: 22px;
    padding: 20px;
}

.result{
    font-size: 32px;
    padding: 20px;
}